# Ignore all JSON files except specific ones
*.json
!data/clean_dataset/clean_textiles_dataset.json
!data/clean_dataset/texmet_metadata.json

# Ignore image files
*.png
*.jpg
*.jpeg
*.JPEG

# Ignore everything in the latex folder except .gitkeep
latex/*
!latex/.gitkeep

# Ignore everything in FINAL_CORRECTED_MET_TEXTILES_DATASET except .gitkeep
data/FINAL_CORRECTED_MET_TEXTILES_DATASET/**
!data/FINAL_CORRECTED_MET_TEXTILES_DATASET/**/.gitkeep

# Ignore everything in the sam folder except .gitkeep
sam/*
!sam/.gitkeep

# Allow all .gitkeep files
!**/.gitkeep

# Gemini CLI temporary files
glob
np
os
plt
